{% extends 'base.html' %}
{% load static %}
{%block content%}
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->


    <h3 style="margin-left: 50px;" class="my-3">Notifications</h3>
    <button style="margin-left: 50px;" class="btn btn-danger ">Delete</button>
    <button class="btn btn-secondary mt-lg-0 mt-3">Mark all as read</button>
    <hr class="mb-5">
    <ul style="margin-left: 50px;">
        <li>
            notifications
        </li>
        <li>
            notifications
        </li>
        <li>
            notifications
        </li>
        <li>
            notifications
        </li>
        <li>
            notifications
        </li>
        <li>
            notifications
        </li>
        <li>
            notifications
        </li>
        <li>
            notifications
        </li>
        <li>
            notifications
        </li>
        <li>
            notifications
        </li>
    </ul>
</div>











<!-- partial -->
</div>
<!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<!-- <script src="../../assets/vendors/js/vendor.bundle.base.js"></script> -->
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->

<!-- endinject -->


{% endblock %}